::selection {
    background-color: $primaryColor;
    color: $secondaryColor;
}

body {
    font-family: $fontPrimary;
    color: $secondaryColor;
    font-size: 16px;
    a {
        text-decoration: underline;
        color: $fontPrimary;
        .underline {
            text-decoration: underline;
        }
    }
    p {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.underline {
  text-decoration: underline !important;
}
