.line {
    width: 176px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    &--dark {
        background-image: url("../img/lineDark.png");
    }
    &--gold {
        background-image: url("../img/line.png");
    }
}

.clearfix {
    clear: both;
}

.title {
    &__section {
        font-size: 33px;
        font-weight: 500;
        font-family: $fontSecondary;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
        @media screen and (min-width: 1280px) {
            font-size: 80px;
        }
        &--black {
            color: $blackMedium;
        }
        &--gold {
            color: $primaryColor;
        }
    }
}

.content-area {
	padding: 60px 0;
}
