.newsletter {
	margin-top: 10px;
	&__inputs {
		display: flex;
		margin-bottom: 10px;
		input[type="text"] {
			margin-right: 5px;
			height: 40px;
		}
		input[type="button"] {
			background-color: $primaryColor;
			color: $secondaryColor;
			padding: 10px;
			cursor: pointer;
			&:hover {
				background-color: $secondaryColor;
				color: $primaryColor;
			}
		}
	}
	&__checkbox {
		width: 100%;
		flex-basis: 100%;
	}
}
