// Variables

$primaryColor: #dbbe81;
$secondaryColor: #1d1d1f;
$gris: #151515;
$black: #000000;
$blackMedium: #312d3b;
$white: #fff;

$fontPrimary: "Open Sans", sans-serif;
$fontSecondary: "Prata", serif;
