.collection {
    &__title {
        font-family: $fontSecondary;
        font-size: 30px !important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: $primaryColor;
        margin-bottom: 0 !important;
        margin-top: 15px;
        @media screen and (min-width: 768px) {
            font-size: 50px !important;
        }
        @media screen and (min-width: 1280px) {
            font-size: 60px !important;
        }
    }
    &__margin {
        width: 100%;
    }

    &__information {
        margin-top: 27px;
    }
    &__box {
        margin-top: 61px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
        }
        .ourproducts__item {
            max-width: 100%;
        }
    }
    .ourproducts__item--informationRight,
    .title--product {
        a {
            color: $black;
        }
    }

    .ourproducts__item--informationLeft {
        span {
            color: $blackMedium;
            &.woocommerce-Price-amount.amount {
                color: $primaryColor;
            }
        }
    }

    .woocommerce-Price-currencySymbol {
        color: $primaryColor !important;
    }

    &__sidebar {
        &--box {
            margin-bottom: 15px;
            .titlesidebar {
                color: #000;
                font-family: "Prata", serif;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.86;
                a {
                    text-decoration: none;
                }
            }
        }
        &--list {
            padding-left: 0;
            li {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
                border-bottom: 1px solid;
            }
        }
        &--link {
            text-decoration: none;
            font-size: 16px;
            color: $black;
        }
    }
}
