.collection {
    &__title {
        font-family: $fontSecondary;
        font-size: 30px !important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: $primaryColor;
        margin-bottom: 0 !important;
        margin-top: 15px;
        @media screen and (min-width: 768px) {
            font-size: 50px !important;
        }
        @media screen and (min-width: 1280px) {
            font-size: 60px !important;
        }
    }
    &__margin {
        width: 100%;
    }
    .line {
        margin-left: 0;
    }
    &__information {
        margin-top: 27px;
    }
    &__box {
        margin-top: 61px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(290px, 373px));
        .ourproducts__item {
            max-width: 100%;
        }
    }
    .ourproducts__item--informationRight,
    .title--product {
        a {
            color: #71644e;
        }
    }

    .ourproducts__item--informationLeft {
        span {
            color: #71644e;
            &.woocommerce-Price-amount.amount {
                color: $primaryColor;
            }
        }
    }

    .woocommerce-Price-currencySymbol {
        color: $primaryColor !important;
    }
}
