.shop {
    &__box {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 330px));
        }
        .ourproducts__item--informationPrice span,
        .ourproducts__item--informationRight {
            color: $black;
        }
    }
}

.ajaxShop {
    .alm-reveal {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        width: 100%;
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 330px));
        }
        .ourproducts__item {
            max-width: 100%;
        }
    }
}

.widget-title {
    span {
        color: $black;
        font-family: $fontSecondary;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.86;
    }
}

// Single Product

.ast-separate-container {
    background-color: $white;
}

.single-product {
    .content-area {
        padding-top: 0;
    }

    // Price

    .summary.entry-summary {
        .price {
            font-size: 40px;
            line-height: 1.3;
            font-weight: 300;
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    }

    // Form cart

    form.cart {
        margin-top: 20px;
    }

    // Tabs

    .woocommerce-tabs.wc-tabs-wrapper {
        margin-top: 30px;
        display: none !important;
        @media screen and (min-width: 768px) {
            display: block !important;
        }
    }

    div.product .woocommerce-tabs ul.tabs li.active a {
        color: $black;
    }

    div.product .entry-title {
        font-weight: 700;
    }

    // Related Products

    .related.products {
        h2 {
            color: $black;
            text-transform: initial;
            font-weight: bold;
        }
        .products {
            &.columns-4 {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-gap: 24px;
                @media screen and (min-width: 1024px) {
                    grid-template-columns: repeat(
                        auto-fit,
                        minmax(290px, 300px)
                    );
                }
                &::before {
                    display: none;
                }

                .ourproducts__item--informationRight,
                .ourproducts__item--informationLeft {
                    a {
                        color: $black;
                        text-decoration: none;
                    }
                }

                .ourproducts__item--informationLeft {
                    span {
                        color: $black;
                        .woocommerce-Price-currencySymbol,
                        &.woocommerce-Price-amount {
                            color: $primaryColor;
                        }
                    }
                }

                .ourproducts__item--informationRight {
                    text-align: right;
                }
            }
        }
    }
}

// Fix padding single product

@media screen and (min-width: 1201px) {
    .ast-separate-container .ast-woocommerce-container {
        padding: 0;
    }
}

// Fix flag oferta

.woocommerce span.onsale,
span.onsale {
    background-color: #52493b;
}

// Fix button lista de deseos y valoracion formulario

.added_to_cart.wc-forward,
.woocommerce .star-rating,
.woocommerce .comment-form-rating .stars a,
.woocommerce .star-rating::before,
.yith-wcwl-add-button span {
    color: $black;
}

// Fix button
#comments .submit,
.search .search-submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce .woocommerce-message a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit,
.woocommerce button.button.alt.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wc-block-grid__product-onsale {
    background-color: transparent;
    border: 1px solid #71644e !important;
    color: $black;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    transition: all 0.3s ease;
    &:hover {
        background-color: $black;
        color: $white;
        border-color: $black;
    }
}

// Cart

.woocommerce-page.woocommerce-checkout form #order_review td,
.woocommerce-page.woocommerce-checkout form #order_review th,
.woocommerce.woocommerce-checkout form #order_review td,
.woocommerce.woocommerce-checkout form #order_review th,
.woocommerce form .form-row label,
.woocommerce-cart .cart-collaterals .cart_totals .shop_table,
.woocommerce-cart .cart-collaterals .cross-sells .shop_table,
.cart-collaterals h2,
.woocommerce-Address h3,
.woocommerce-cart-form__cart-item.cart_item a,
.woocommerce-cart-form__cart-item .woocommerce-Price-amount.amount,
.woocommerce table.shop_table thead th,
.woocommerce-page table.shop_table thead th {
    color: $black;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding-top: 14px;
    padding-bottom: 14px;
}

//UPSELL

.upsells.products {
    .ourproducts__item--informationPrice {
        span {
            color: $black;
            &.woocommerce-Price-amount.amount {
                color: $primaryColor;
            }
        }
    }

    .products.columns-4 {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
        }
        &::before {
            display: none;
        }
        .ourproducts__item {
            max-width: 100%;
        }
    }
}

// Ordenamos la información del lado derecho en el single product

.orderSummary {
    display: flex;
    flex-direction: column;
    .product_title {
        order: 0;
    }
    .woocommerce-product-details__short-description {
        order: 1;
        margin-bottom: 20px;
    }
    .woocommerce-product-attributes.shop_attributes {
        order: 2;
        border: 0;
        td,
        th,
        tr {
            width: auto;
            display: inline-flex;
            align-items: baseline;
            background-color: $white !important;
            border: 0;
            padding-left: 0;
        }
        tr {
            display: block;
        }
        th {
            color: $black;
            font-weight: 700;
            font-size: 1rem;
            text-transform: capitalize;
        }
        td {
            font-style: normal;
        }
    }

    .woocommerce-product-attributes-item__label {
        &:after {
            content: " : ";
        }
    }

    .price {
        order: 3;
    }
    form.cart {
        order: 4;
    }

    .product_meta {
        order: 5;
    }
    .yith-wcwl-add-to-wishlist {
        order: 6;
    }
    .addtoany_list {
        order: 7;
        margin-top: 20px;
    }
}

.related.products {
    margin-top: 50px;
}

// Single Products

.single-product {
    .product {
        form.cart {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            .product-assembly {
                order: 0;
                margin-bottom: 15px;
                color: $black;
                border-bottom: 1px solid #52493b;
            }
            .quantity.buttons_added {
                order: 1;
            }

            .button.single_add_to_cart_button {
                order: 2;
                width: 100%;
                padding-top: 20px !important;
                padding-bottom: 20px !important;
            }
        }
    }
}

.woocommerce-product-details__short-description {
    .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
        display: none;
    }
}

// Fix product simple

.product-type-simple {
    .btn--preorden {
        display: none;
    }
}

// fix sidebar

div.berocket_single_filter_widget div.berocket_aapf_widget-wrapper * {
    margin-bottom: 7px;
}

.berocket_aapf_widget .berocket_label_widgets {
    display: inline-block;
    margin-left: 7px;
}

// Hidden mensaje cantidad disponible

.ast-stock-detail {
    display: none;
}

.ywgc_select_amount_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.ywgc-sender-info-title {
    margin-top: 20px;
}

.gift-this-product-main-container {
    margin-top: 10px;
}

.gift-card-content-editor.step-content textarea,
.gift-card-content-editor.step-content input {
    width: 56%;
}

.gift-card-content-editor.step-content h5 {
    margin-top: 20px;
    text-transform: lowercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.gift-cards-list button {
    padding: 5px 15px;
}

.ywgc-predefined-amount-button.selected_button {
    background-color: $primaryColor;
}

// Fix title yith accordeon

.ywcca_widget_title {
    color: $black;
    font-family: $fontSecondary;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.86;
}

.ywcca_category_accordion_widget {
    padding-left: 0 !important;
    .cat-item {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        a {
            text-decoration: none;
            text-transform: initial;
        }
    }
}

.widget_yith_wc_category_accordion ul.ywcca_category_accordion_widget > li {
    border-color: rgba($primaryColor, 0.5);
}
